body {
    background-image:url('http://49.media.tumblr.com/3a949406dac268edb5f1e5d550d881bf/tumblr_naq3ghPq6b1t50x3jo2_500.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

